* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --first-color: #4c6665;
  --font-color:#9ab5ae;
}

.title {
  font-family: "Nothing You Could Do", cursive;
  font-weight: 200;
  font-size: 45px;
  color: #dbdad5;
  position: relative;
  padding: 0;
  margin: 0;
}

.primary-button {
  padding: 0.5em 1em;
  border-radius: 100px;
  background-color: var(--first-color);
  font-size: 1.2em;
  transition: all 200ms;
  color:#dbdad5;
}

.primary-button:hover {
  background-color: #dbdad5;
  color: var(--first-color);
  border: 1px solid var(--first-color);
}

.secondary-button {
  padding: 0.5em 1em;
  border-radius: 100px;
  background-color: #dbdad5;
  font-size: 1.2em;
  transition: all 200ms;
  color: var(--first-color);
}

.secondary-button:hover {
  background-color: var(--first-color);
  color: #dbdad5;
  border: 1px solid #ffffff;
}
