.step-three {
  background: #dbdad5;
  display: grid;
  justify-content: center;
  align-items: center;
}

.step-three img {
  width: 40%;
}

.card {
  margin: 1em;
  background: var(--font-color);
  padding: 1em;
  color: var(--first-color);
  text-align: center;
  border-radius: 15px;
  color: #dbdad5;
}

.step-three-confirm {
  color: var(--first-color);
  background: url(../static/fondo2.png);
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 40vh;
  justify-content: center;
  text-align: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card p {
  color: #dbdad5;
  margin: 5px;
}
.step-three h2 {
  margin: 5px;
}

.step-three h3 {
  margin: 10px;
}

.step-three button {
  margin-top: 1em;
}
